* {
    box-sizing: border-box;
}
.img {
    border-radius: 30px;
    content: center;
    width: 150px;
    height: 150px;
    background-size: cover;
    display:block;
    margin-left: auto;
    margin-right: auto;
}


.column {
    background-color: red;
    float: left;
    width: 25%;
    padding: 20px 10px;
}
/* responsive design with mobile users */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.act-text {
    background-color: blue;
    font-size: 10px
}