{% extends 'base.html' %}
{% block content %}
    <div class="card-color">
        <div id="color-cord" class="card">
            <span class="text">Create Activity</span>
            <p>
                <form method="post">
                    <!-- security token -->
                    {% csrf_token %}
                    <table>{{form.as_table}}</table>
                    <input class="inp" type="submit" value="Submit" />
                </form>
            </p>
        </div>
      </div>
{% endblock %}
