{% extends 'base.html' %}

{% block title %}
Recommendations List
{% endblock %}

{% block content %}
<div class="Search-bar">
    <form>
        <div>
            <input type="text" name="name" placeholder="name"/>
            <input type="submit" value="Search" />
        </div>
        <a href="{% url 'act_list' %}">Clear Search</a>
        <a href="{% url 'act_create' %}">Add Activity</a>
    </form>
</div>

    <h1>{{header}}</h1>
    {% for act in acts %}
    <!-- modal -->
    <div class="row">
        <div class="column">
            <p class="btn-container">
                <button id="open-modal" class="trigger">Disappear</button>
            </p>
            <div id="my-modal" class="modal">
                    <!-- modal content -->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-header">
                            <span class="close">&Chi;</span>
                            <a class="modal-header" href="{% url 'act_detail' act.pk %}">
                                <h3>{{ act.name }}</h3>
                            </a>
                        </div>
                        <div class="img-container">
                            <a href="{% url 'act_detail' act.pk %}">
                                <img id="modal-img" class="img enlarge-img enlarge" src="{{act.images}}" alt="{{ act.name }}">
                            </a>
                        </div>
                        <div class="act-text">
                            <h3>Food or Activity: {{act.label}}</h3>
                            <!-- modal number 2 -->
                            <!-- Modal Button -->
                            <p class="btn-container-2">
                                <button id="open-modal-2" class="trigger-2">Open/Close</button>
                            </p>
                                <!-- modal button -->
                            <!-- modal -->
                            <div id="my-modal-2" class="modal-2">
                                <!-- modal content -->
                                <div class="modal-content-2">
                                    <div class="modal-header-2">
                                        <span class="close-2">&Chi;</span>
                                </div>
                                <div class="modal-body-2">
                                    {% for review in act.review.all %}
                                    <div>
                                        <span>{{ review.name }}</span>
                                        <p>Activity Level {{ review.active }}</p>
                                        <p>Weather: {{ review.weather }}</p>
                                        <p>Description: {{ review.description }}</p>
                                        <p>Owned By:</p>
                                            <p>{{act.name}}</p>
                                        {% empty %}
                                            <p>Nobody has this review</p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer-2">
                                        <h3>Footer for Modal</h3>
                                    </div>
                                </div>
                            </div>
                            <p>Recommended by:
                                <a href="'/user/{{act.user.username}}">{{ act.user.username }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    {% endfor %}
    <!-- modal button -->
    <!-- <button id="open-modal" class="trigger">Open Sesame</button> -->
    <!-- modal -->
    <!-- <div id="my-modal" class="modal"> -->
        
        <!-- modal content -->
        <!-- <div class="modal-content"> -->
            <!-- <div class="modal-header"> -->
                <!-- <span class="close">&Chi;</span> -->
                <!-- <h2>Header for Modal</h2> -->
            <!-- </div> -->
            <!-- <div class="modal-body"> -->
                <!-- <p>Some text inside of the box</p> -->
                <!-- <p>Some other text ...</p> -->
            <!-- </div> -->
            <!-- <div class="modal-footer"> -->
                <!-- <h3>Footer for Modal</h3> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
{% endblock %}


