{% extends 'base.html' %}

{% block title %}
Recommendations List
{% endblock %}

{% block content %}
<div class="Search-bar">
    <form>
        <div>
            <input type="text" name="name" placeholder="name"/>
            <input type="submit" value="Search" />
        </div>
        <a href="{% url 'act_list' %}">Clear Search</a>
        <a href="{% url 'act_create' %}">Add Activity</a>
    </form>
</div>

    <h1>{{header}}</h1>
    {% for act in acts %}
    <div class="row">
        <div class="column">
            <div class="img-container">
                <img class="img" src="{{act.images}}" alt="{{ act.name }}">
            </div>
            <div class="act-text">
                <a href="{% url 'act_detail' act.pk %}">
                    <h3>Name: {{act.name}}</h3>
                </a>
                <h3>Food or Activity: {{act.label}}</h3>
                <h3>Price: {{act.price}}</h3>
                <h3>Rating: {{act.rating}}</h3>
                <h3>Location: {{act.location}}</h3>
                <p>Recommended by:
                    <a href="'/user/{{act.user.username}}">{{ act.user.username }}</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- modal button -->
    <button id="open-modal" class="trigger">Open Sesame</button>
    <!-- modal -->
    <div id="my-modal" class="modal">
        
        <!-- modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&Chi;</span>
                <h2>Header for Modal</h2>
            </div>
            <div class="modal-body">
                <p>Some text inside of the box</p>
                <p>Some other text ...</p>
            </div>
            <div class="modal-footer">
                <h3>Footer for Modal</h3>
            </div>
        </div>
    </div>
    <button id="open-modal" class="trigger">Open Sesame2</button>
    <!-- modal -->
    <div id="my-modal" class="modal">
        
        <!-- modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&Chi;</span>
                <h2>Header for Modal version 2</h2>
            </div>
            <div class="modal-body">
                <p>Some text inside of the box</p>
                <p>Some other text ...</p>
            </div>
            <div class="modal-footer">
                <h3>Footer for Modal</h3>
            </div>
        </div>
    </div>
{% endblock %}


