{% extends 'base.html' %}
{% block content %}

<h1 id="review-title">Review List</h1>

{% for review in reviews %}
    <div class="list">
        <a class="hover decor" href="{% url 'reviews_show' review.id %}">
            <div class="card-content">
                <span>{{ review.name}}</span>
                <p>Activity Level {{ review.active }}</p>
                <p>Weather: {{ review.weather }}</p>
                <p>Description: {{review.description }}</p>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}
